/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');

body {
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    padding: 24px;
    width: 1200px;
    margin: auto;
}

.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.gallery-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 250ms ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;   /* елементи на всю ширину */
  max-width: 408px;
  margin: 0 auto;
  padding: 24px;

  border: 1px solid #447882;
  border-radius: 8px;
  background-color: #ffffff;
}
.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* текст зліва */
  width: 100%;
  font-size: 18px;
  margin-bottom: 16px;
  gap: 6px;
}
.form-label input,
.form-label textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #777;
  box-sizing: border-box;
}

.feedback-form button {
  width: fit-content;     /* кнопка не на всю ширину */
  border: none;
  border-radius: 8px;
padding: 8px 16px;
width: 86px;
height: 40px;
background: #4e75ff;
  color: #fff;          /* текст білий */
  font-weight: 500;
    font-size: 16px;

}
